# Cần giá trị biến môi trường liên hệ cho anh Lĩnh nhé !!

# Chạy máy thật (đổi thành ipv4)
# API_BASE_URL=http://192.168.20.229:8080/api/v1
# Chạy android studio
API_BASE_URL=http://10.0.2.2:8080/api/v1
FIREBASE_ENABLED=false
FIREBASE_API_KEY=your_firebase_web_api_key
FIREBASE_APP_ID=your_android_firebase_app_id
FIREBASE_MESSAGING_SENDER_ID=your_sender_id
FIREBASE_PROJECT_ID=your_project_id
FIREBASE_AUTH_DOMAIN=your_project_id.firebaseapp.com
FIREBASE_STORAGE_BUCKET=your_project_id.firebasestorage.app
